@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>

<p>The Free Wi-Fi for All – Free Public Internet Access Program aims to accelerate the Philippine government’s efforts in enhancing internet accessibility for Filipinos so that economic, social, and educational opportunities will be bolstered, and the growing digital divide can be bridged.</p>
<p>Drawing its mandate from the provisions of Republic Act No. 10929, the Free Wi-Fi for All Program provides free, fast and secure Internet access in public places across the Philippines, such as hospitals, basic education institutions, state universities and colleges, airports and seaports, terminal, among others.</p>
<p>By developing relevant systems and enhancing existing ones, the Free Wi-Fi for All– Free Public Internet Access Program aims to:</p>
<ul>
    <li>provide Wi-Fi Internet access at no charge in selected public places;</li>
    <li>provide efficient and effective ICT infrastructure and information systems to the public;</li>
    <li>promote the use of ICT to improve delivery of critical functions of government services;</li>
    <li>provide a lower entry barrier for users, as well as improve accessibility;</li>
    <li>through public-private partnerships, provide commercial services, but with direct government intervention – in the form of investments – only as a method of last resort; and</li>
    <li>acquire a secured official electronic communications and collaboration system.</li>
</ul>