@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>

<p>Welcome to the DICT Free WiFi 4 All program! We are dedicated to providing free wifi access to all Filipinos, bridging the digital divide and empowering communities.</p>
<p>Our mission is to ensure that every Filipino has access to the internet, enabling them to connect, learn, and thrive in the digital age.</p>
<p>Through our network of WiFi hotspots, we aim to create a more inclusive society, where everyone has equal opportunities to access information, education, and economic opportunities.</p>
<p>Join us in our mission to connect the unconnected and make a positive impact in the lives of millions of Filipinos.</p>